.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 3%;
    gap: 50px;
}

.cardContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    padding: 7%;
}

@media screen and (max-width: 767px) {
    .cardContainer {
        max-width: 100%;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
}